* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  background-color: #fafafa;
}

.app__header {
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1;
}
.app__headerImage {
  width: 120px;
  object-fit: contain;
}

.app__signin {
  display: flex;
  flex-direction: column;
}
.app__posts {
  padding: 20px;
}
